/* font-family: 'DM Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: auto;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 20%,
    rgba(219, 236, 255, 1) 100%
  );
  background-repeat: no-repeat;
}

body {
  height: 100vh;
  font-family: "Lato", sans-serif;
}

header {
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: #2b89ea;
}

.logo {
  display: flex;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
  color: white;
  align-items: center;
  margin: auto 1rem;
}

.logo img {
  height: 2.2rem;
  margin-right: 0.4rem;
}

.ham-menu {
  margin: auto 1rem;
}

.ham-menu img {
  height: 2.2rem;
}

.current {
  color: gray;
}

.contentMenu a {
  text-decoration: none;
  color: white;
}

.contentMenu ul {
  list-style-type: none;
  text-align: center;
  margin-top: 2rem;
  line-height: 5rem;
  font-size: 2rem;
  font-weight: 300;
}

.contentMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
  background-color: #2b89ea;
}

.hide-on-mobile {
  display: none;
  transition: height 2s ease-in;
}

.cont {
  content: url("../images/header/x.svg");
  height: 1.2rem !important;
  margin-right: 0.7rem;
}

.menu-desktop {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.sub-menu {
  display: flex;
  max-width: 1400px;
  font-size: 0.9rem;
  flex-direction: column;
  align-items: center;
}

.hide {
  display: none;
}

.sub-menu img {
  height: 1.8rem;
}

.background {
  background-image: url(./images/main/Group\ 6.svg);
  height: 244px;
  opacity: 0.8;
}

.searchbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 120px;
}

input.InputBox {
  margin-left: 85px;
  width: 270px;
  height: 50px;
  background: #fefefe;
  border-radius: 30px;
  border: none;
  margin-top: 30px;
}

.searchbox button {
  border-style: none;
  padding: 9px;
  margin-top: 34px;
}

.searchbox img {
  width: 43px;
}

.display {
  display: flex;
  justify-content: center;
  color: blue;
  margin-left: 86px;
  margin-top: 15px;
}

.filterlist {
  display: flex;
  justify-content: center;
}

.filterlist ul {
  display: flex;
  list-style: none;
  margin-left: 47px;
  margin-top: 26px;
}

.filterlist li {
  width: 143px;
  margin-left: 16px;
  height: 32px;
  justify-content: center;
  display: flex;
  border: 1px solid #0086be;
  background: #e9f7ff;
  border-radius: 11px;
}

.filterlist li:hover {
  color: white;
  background-color: #0086be;
}

.selector {
  justify-content: center;
  align-items: center;
  display: flex;
}

/*message secetion*/

.flexbox {
  display: flex;
  justify-content: space-between;
}

.messagebox {
  position: relative;
  width: 428px;
  height: 100%;
  /* border-radius: 10px; */
  background-color: white;
  border-right-style: groove;
  border-color: #a3a3a33d;
}

/* .scrollbar{
          width: 8px ;
          height: 97px;
          background: #c4c4c4;
          border-radius: 3px;
          margin-left: 304px;
      } */

.New_chat img {
  width: 20px;
  height: 20px;
  margin-left: 374px;
  margin-top: 26px;
}
.profile_info {
  display: flex;
  width: 181.26px;
  height: 50px;
  margin-left: 17px;
  margin-top: -23px;
}

.message_detail {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 113px;
  height: 58px;
  margin-left: 4px;
  margin-top: 4px;
  background-color: white;
  /* letter-spacing: -0.48px; */
}

.message_display {
  font-weight: 500;
  font-size: 16px;
  line-height: 0px;
}

.message_info {
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: #a3a3a3;
  font-size: 16px;
  line-height: 50px;
}

.searchbar {
  position: absolute;
  width: 383px;
  height: 32px;
  left: 17px;
  top: 88px;
  background: rgba(212, 229, 248, 0.5);
  border-radius: 3px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.searchbox {
  font-weight: 400;
  font-size: 16px;
  color: #e2e4e5;
  border: none;
  margin-left: 32px;
  margin-top: -2px;
}

.magicon {
  margin-top: 3px;
  margin-left: 12px;
}

input#searchbox {
  border: none;
  background: rgba(212, 229, 248, 0.1);
  margin-left: -19px;
  color: rgba(28, 28, 28, 0.2);
  font-size: 16px;
}

.filtericon {
  margin-top: 3px;
  margin-left: 116px;
}

.messagesbar {
  margin-top: 70px;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  /* ======================== */
  /* ======================== */
  /* This is what I added */
  height: 80vh;
  overflow-y: auto;
  overscroll-behavior-inline: contain;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.messagesbar::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}
/* ======================== */
/* ======================== */
.friendsdetail {
  list-style: none;
  width: 383px;
  margin-left: 16px;
  min-height: 80px;
  display: flex;
}

.friendprofile {
  display: inline;
}

.friendname {
  display: flex;
  align-items: baseline;
}

.friendsdetail a {
  color: rgba(28, 28, 28, 0.6);
  font-size: 16px;
  font-weight: 400;
  height: 16px;
  width: 120px;
  display: inline;
  margin-left: 6px;
  margin-top: 8px;
  display: flex;
  text-decoration: none;
}

.messagesbar ul li {
  list-style: none;
}

time.lastchat {
  margin-left: 156px;
  color: #a3a3a3;
  font-size: 12px;
  font-weight: 400;
}

.message {
  display: flex;
  justify-content: space-between;
  font-size: 4.5px;
  width: 244px;
  height: 35px;
  font-weight: 400;
  color: #a3a3a3;
  margin-left: -250px;
  margin-top: 32px;
}

.message h1 {
  width: 280px;
  margin-left: -57px;
}

.message img {
  width: 17px;
  height: 17px;
  margin-left: 54px;
}

.chatsection {
  width: 670px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.friendmessage {
  margin-left: -300px;
}

.yourmessages {
  margin-right: -460px;
}

.friendmessage .displaymessages {
  width: 391px;
  display: flex;
  height: 47px;
  margin-left: 41px;
  margin-top: 0px;
  background: rgba(28, 28, 28, 0.05);
  border-radius: 0px 16px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.yourmessages .displaymessages {
  width: 239px;
  height: 47px;
  background: #1074ef;
  border-radius: 0px 16px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.istyping {
  margin-left: -643px;
}

.name_time {
  display: inline-flex;
  justify-content: space-between;
  gap: 90px;
}

.yourmessages {
  margin-right: -500px;
}

.chatbox {
  height: 157px;
  margin-bottom: -140px;
  width: 750px;
  border-style: groove;
  display: flex;
  justify-content: space-between;
}

.typemessage {
  margin-left: 10px;
  margin-top: 10px;
}

.typemessage input {
  border-style: none;
  width: 569px;
  height: 30px;
}

.emoji {
  display: flex;
  flex-direction: column-reverse;
  margin: 5px;
}

.moreoption {
  flex-direction: column-reverse;
  display: flex;
  margin: 5px;
}

.Sendbutton {
  display: flex;
  flex-direction: column-reverse;
}

.Sendbutton button {
  width: 71.48px;
  height: 35px;
  background: #0c63e7;
  border-radius: 5px;
  color: white;
  margin: 5px;
}

.lastsection {
  margin: 0px;
}
.poepleyoumayknow {
  border-left: groove;
  border-bottom: groove;
  border-color: #a3a3a33d;
  width: 313px;
  height: 505px;
}

.poepleyoumayknow h3 {
  width: 163px;
  height: 16px;
  font-weight: 500;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 20px;
}

.Extrabar {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  /* ======================== */
  /* ======================== */
  /* This is what I added */
  /* overflow-y: auto; */
  overscroll-behavior-inline: contain;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-left: 43px;
  margin-top: 20px;
}

.Extrabar::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}
/* ======================== */
/* ======================== */
.Extradetail {
  list-style: none;
  width: 285px;
  margin-left: -23px;
  min-height: 85px;
  display: flex;
}

.Extraprofile {
  display: inline;
}

.Extraname {
  display: flex;
  align-items: baseline;
}

.Extradetail a {
  color: black;
  font-size: 16px;
  font-weight: 400;
  height: 16px;
  width: 211px;
  display: inline;
  margin-left: 6px;
  margin-top: 8px;
  display: flex;
  text-decoration: none;
}

.Extrabar ul li {
  list-style: none;
}

.Description {
  display: flex;
  font-size: 5.5px;
  width: 193px;
  height: 29px;
  font-weight: 400;
  margin-left: -208px;
  margin-top: 26px;
  color: rgba(28, 28, 28, 0.4);
}

.Seemore {
  display: flex;
  justify-content: center;
}

.Seemore a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  /* F/color1 */

  color: #0c63e7;
}

.groupyourcontactfollow {
  border-left: groove;
  border-bottom: groove;
  border-color: #a3a3a33d;
  width: 313px;
  height: 592px;
}

.groupyourcontactfollow h3 {
  width: 200px;
  height: 16px;
  font-weight: 500;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 20px;
  margin-top: 6px;
}

@media screen and (min-width: 664px) {
  .job-type-card {
    width: 640px;
    max-width: none;
  }
  .card {
    max-width: none;
    width: 300px;
  }
}

@media screen and (min-width: 1012px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .breadcrumbs {
    display: none;
  }
  .search-form {
    margin-top: 60px;
  }
  .job-type {
    max-width: 1000px;
    gap: 2rem;
  }
  .job-type-card {
    width: 980px;
  }
  .card {
    height: 520px;
    width: 221px;
    border-radius: 20px;
  }
  .card h2 {
    font-weight: 500;
    margin-top: 1rem;
    padding-left: 1rem;
    font-size: 1.4rem;
  }
  .card h3 {
    padding-left: 1rem;
    font-weight: 300;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
  }
  .card p {
    font-weight: 100;
    padding: 1rem;
    font-size: 1rem;
  }
  .button {
    display: flex;
    justify-content: center;
    margin: 1.5rem auto;
    align-items: center;
    border: 2px solid #2b89ea;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    font-size: 1rem;
    padding: 1rem;
    color: #2b89ea;
    text-decoration: none;
    align-self: center;
  }
  .logo-recruiter {
    align-self: center;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 750px) {
  .content {
    /* background-color: aquamarine; */
  }
  .follow img {
    content: url("../images/main/follow-desktop.png");
  }
  .main-top {
    justify-content: center;
    gap: 1rem;
  }
}
