body {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.05em;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

/* -----Header----- */

header {
  width: 100vw;
  height: 123px;
  background: #2b89ea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.header_container {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.icon {
  position: static;
  width: 148px;
  height: 42px;
  top: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 0px 10vw;
}

menu > a:link > .header_menuItems {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

menu > a > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

menu > a > div > img {
  height: 40px;
  padding-bottom: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.avatar {
  position: static;
  width: 60px;
  height: 60px;
  top: 7px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* -----Main Body----- */

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 29px;
  box-shadow: 0px 0px 0px rgba(117, 131, 142, 0.04),
    0px 4px 8px rgba(52, 60, 68, 0.16);
}

.searchbar {
  display: flex;
  flex-direction: row;
}

.searchbar > input {
  width: 773px;
  height: 74px;
  background: #fefefe;
  border-color: #fefefe;
  box-shadow: 0px 0px 2px rgba(117, 131, 142, 0.04),
    0px 4px 8px rgba(52, 60, 68, 0.16);
  border-radius: 30px;
  padding-left: 19px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
}

.center_image {
  margin-top: 97px;
}

.login {
  margin-top: 73px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email_login,
.password_login {
  width: 496px;
  height: 52px;
  background: #ffffff;
  border: 1px solid #2aace3;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #777777;
  padding-left: 19px;
  margin-bottom: 29px;
}

.remember_me {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #8d8d8d;
}

.remember_me > ol {
  margin-bottom: 9px;
}

.submit_buttons {
  margin-top: 30px;
  width: 288px;
  display: flex;
  justify-content: space-between;
}

.login_button,
.signup_button {
  width: 107px;
  height: 38px;
  border-radius: 10px;
  font-family: Lato;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-bottom: 31px;
}

.login_button {
  background-color: #2aace3;
  border-color: #2aace3;
  box-shadow: 0px 0px 2px rgba(117, 131, 142, 0.04),
    0px 4px 8px rgba(52, 60, 68, 0.16);
}

.signup_button {
  background-color: #cacaca;
  border-color: #cacaca;
  box-shadow: 0px 0px 2px rgba(117, 131, 142, 0.04),
    0px 4px 8px rgba(52, 60, 68, 0.16);
}

.social_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 230px;
  height: 45px;
  margin-bottom: 135px;
}

/* -----Footer----- */

footer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_top {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10vw;
  margin-bottom: 23px;
}

h4 {
  color: #2b89ea;
}

.services,
.about,
.follow {
  padding-top: 20px;
}

.follow > a {
  display: flex;
}

.footer_bottom {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
