@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

body {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.05em;
  background-color: aliceblue;
}

nav {
  min-height: 110px;
  background-color: #2b89ea;
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.nav_container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.toggler {
  color: white;
  font-size: 50px;
  cursor: pointer;
  margin-left: 20px;
}

.toggler:hover {
  color: #d6a364;
  transition: 0.3s ease-out;
}

/* Side Nav */
.side_nav {
  display: none;
  width: 100%;
}

.side_nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side_nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 40px;
  transition: 0.3s ease-out;
}

.side_nav ul li a:hover {
  color: #d6a364;
}

@media screen and (min-width: 992px) {
  .navbar{
    flex-wrap: nowrap;
  }

  .nav_container {
    flex-direction: row;
    /* flex-wrap: nowrap; */
  }

  .toggler {
    display: none;
  }

  .side_nav {
    display: block !important;
    position: relative;
    width: auto;
    /* float: right; */
    padding: 5px 0;
  }

  .side_nav ul {
    float: left;
    flex-direction: row;
  }

  .side_nav ul li {
    display: inline-block;
    padding-right: 20px;
  }
}

/* Header */

.header {
  width: 100vw;
  height: 138px;
  background: url("../../assets/img/unsplash_dBaz0xhCkPY.png") no-repeat;
  background-size: cover;
}

.header_container {
  display: flex;
  align-items: flex-end;
  height: 138px;
}

/* Avatar Section */
.avatar_section {
  display: flex;
  align-items: flex-end;
  position: relative;
  bottom: -60px;
}

.avatarBox {
  width: 180px;
  height: 180px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarBox img {
  width: 165px;
  height: 165px;
  border-radius: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.avatarName h1 span {
  font-size: large;
  color: #2b89ea;
}

@media screen and (min-width: 768px) {
  .header {
    height: 200px;
  }

  .header_container {
    height: 200px;
  }
  .avatar_section {
    justify-content: flex-start;
    margin-left: 30px;
  }
}

@media screen and (min-width: 992px) {
  .header {
    height: 310px;
  }

  .header_container {
    height: 310px;
  }
  .avatarBox {
    width: 275px;
    height: 275px;
  }

  .avatarBox img {
    width: 260px;
    height: 260px;
  }
}

/* Followers Count */

.followers_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.followers_icons {
  display: flex;
  flex-direction: row;
  font-size: medium;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}
.followers_icons:first-child {
  margin-top: 10px;
}

.followers_icons i {
  margin-right: 5px;
  color: #2b89ea;
}

@media screen and (min-width: 768px) {
  .followers_box {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: center;
  }

  .followers_icons:first-child {
    margin-top: 0px;
  }

  .followers_icons {
    font-size: 13px;
  }

  .followers_icons span {
    font-weight: 600;
  }
}

/* User_info_header */

.user_info_header {
  margin-top: 60px;
  margin-bottom: 40px;
}

.edit_buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.edit_buttons a button {
  background: none;
  border: #2b89ea solid;
  border-radius: 8px;
  color: #2b89ea;
  padding: 10px 15px;
}

.edit_buttons a button:hover {
  border: #d6a364 solid;
  color: #d6a364;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.edit_buttons a button i {
  padding-left: 5px;
}

@media screen and (min-width: 768px) {
  .user_info_header{
    margin-top: 5px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: stretch;
    align-items: center;
  }

  .avatarName{
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .followers_box{
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .edit_buttons{
    grid-row-start: 2;
    margin-top: 0px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
  }

  .edit_buttons a button{
    width: 175px;
    height: 50px;
  }

}

@media screen and (min-width: 992px) {
  .user_info_header{
    grid-template-columns: 350px 500px 1fr;
  }
  .followers_box{
    grid-column: 2/3;
  }
}

/* User Body */
.user_body_container {
  padding-top: 10px;
}

.about_section,
.experience_section,
.skills_section, .activity_section, .education_section,.people_section,.analytics_section {
  padding-bottom: 30px;
}

.about_container,
.job_section, .school_section, .other_users_section, .analytics_types_section {
  background-color: white;
  border: white solid;
  border-radius: 8px;
  padding: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.jobs, .schools, .other_user, .analytics_types {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.jobs img, .schools img, .analytics_types img {
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

.skills_container {
  background-image: url("../../assets/img/shadows-bg.png");
  background-size: cover;
  border-radius: 8px;
  padding: 10px;
  padding-bottom: 40px;
  box-shadow: var(--shadow-4);
}

.skills_scores {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
  color: white;
}

.score_card {
  width: 100px;
  height: 100px;
  background: #344A69;
  position: relative;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.score_card h3{
  color: white;
}
.score_card::before {
  content: "";
  position: absolute;
  top: -26px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 28.8675px solid #344A69;
  border-radius: 8px;
}
.score_card::after {
  content: "";
  position: absolute;
  bottom: -25.8px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 28.8675px solid #344A69;
  border-radius: 8px;
}

.score_card h3 {
  padding-bottom: 5px;
}

.skills {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  justify-items: center;
}

.skill_card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 138px;
  height: 42px;
  background-color: whitesmoke;
  border: #2b89ea solid;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.skill_card p {
  margin-bottom: 0;
}

/* activity section */

.activity_grid{
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  grid-auto-columns: 42%;
  
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.activity_grid::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

.activity_card{
  margin: 20px 0;
  padding-top: 5px;
  width: 170px;
  height: 170px;
  background-color: white;
  border: #c2c2c2 solid 2px;
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-4);
  font-size: 10px;
  line-height: 5px;
}
.activity_card p{
  padding-left: 5px;
}

.activity_card img{
  position: relative;
  top: -10px;
  width: 100%;
  height: 104px;
}

.post_status_section{
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}

.post_status_section i{
  color: red;
}

.post_status_section a{
  text-decoration: none;
  color: #000000;
}

.activity_grid .pic{
  margin: 20px 0;
  padding: 15px;
  background: var(--surface-3);
  border-radius: var(--radius-2);
  width: 300px;
  height: 200px;
  box-shadow: var(--shadow-4);
}

.snaps-inline{
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 20px;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

@media screen and (min-width: 768px){
  .skills{
    grid-template-columns: repeat(3, 1fr);
  }

  .activity_grid{
    grid-auto-columns: 28%;
    gap: 10px;
  }
}

@media screen and (min-width: 992px){
  .user_body_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

  .about_section{
    grid-row: 1;
    grid-column: 2/5;
  }

  .experience_section{
    grid-row: 2;
    grid-column: 2/5;
  }

  .skills_section{
    grid-row: 3;
    grid-column: 2/5;
  }

  .activity_section{
    grid-row: 4;
    grid-column: 2/5;
  }

  .education_section{
    grid-row: 5;
    grid-column: 2/5;
  }

  .analytics_section{
    grid-row: 2;
  }
}

@media screen and (min-width: 1200px){
  .activity_grid{
    grid-auto-columns: 22%;
    gap: 10px;
  }

  .skills{
    grid-template-columns: repeat(4, 1fr);
  }
}

/* people you may know section */
.other_user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.other_user_avatar {
  display: flex;
  align-items: center;
}

.other_user_avatar img{
  padding-right: 10px;
}

.other_user a button{
  background-color: white;
  border: #2b89ea solid;
  border-radius: 100px;
  padding: 5px 20px;
}
@media screen and (min-width: 1200px){
  .other_user a button{
    padding: 5px 5px;
  }
}


/* Footer */

.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.footer_aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_aboutSection img{
    margin-bottom: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.footer_aboutSection p{
    padding: 0 40px;
    margin-bottom: 20px;
}

.footer_aboutSection h4{
    color: #32baea;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.footer_aboutSection .hero_search{
    margin-top: 5px;
}

.footer_socialLinks{
    margin-top: 20px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_socialLinks a img{
    width: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.footer_infoSection{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
}

.footer_infoSection h5{
    color: #32baea;
}

.footer_infoSection a{
    text-decoration: none;
    color: #000000;
}

.footer_infoSection a:hover{
    transition: 0.2s ease-out;
    color: #d6a364;
}

.follow_us{
    display: none;
}

.footer_termsConditions{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer_termsConditions a{
    text-decoration: none;
}

.footer_termsConditions a:hover{
    transition: 0.2s ease-out;
    color: #d6a364;
}


.footer_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  min-width: 50vw;
  width: 366px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.footer_search i {
  margin-left: 15px;
  font-size: 25px;
  color: #c2c2c2;
}

.footer_search input {
  padding-left: 10px;
  flex: 1;
  height: 50px;
  border: none;
  outline: none;
  font-size: 16.3px;
}

.footer_search button {
  background-color: #00aae5;
  border-radius: 20px;
  border: none;
  outline: none;
  height: 50px;
  color: #ffffff;
  font-size: 16.3px;
  padding: 0 25px;
}

.footer_search button:hover {
  background-color: #d6a364;
  transition: 0.2s ease-out;
}

@media screen and (min-width: 768px) {
    .footer_socialLinks{
        display: none;
    }

    .footer_infoSection{
        width: 550px;
        margin-top: 40px;
    }

    .follow_us{
        display: unset;
    }
}